<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsmResolver" version="4.0.0" targetFramework="net48" />
  <package id="AsmResolver.DotNet" version="4.0.0" targetFramework="net48" />
  <package id="AsmResolver.PE" version="4.0.0" targetFramework="net48" />
  <package id="AsmResolver.PE.File" version="4.0.0" targetFramework="net48" />
  <package id="Colorful.Console" version="1.2.11" targetFramework="net48" />
</packages>